<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/default :: meta"></th:block>
    <title th:text="${title}"></title>
</head>
<body>
<th:block th:insert="fragments/default :: navbar"></th:block>
<div class="container section card">
    <h2><span class="underscore" th:text="${title}"></span></h2>
    <div class="row">
        <div class="col-sm-3" th:each="movie : ${movies}">
            <div class="card center">
                <a class="main-color main-color-zoom" th:href="@{'/movie/' + ${movie.id}}">
                    <img class="img-thumbnail poster" src="/default.jpg"
                         th:attr="src=${movie.posterUrl},title=${movie.name},alt=${movie.name}" />
                </a>
                <a class="main-color main-color-zoom title-movie p-2" th:href="@{'/movie/' + ${movie.id}}" th:text="${movie.name}"></a>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/default :: script"></th:block>
</body>
</html>