<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${movie.name}"></title>
    <th:block th:insert="fragments/default :: meta"></th:block>
</head>
<body>
    <th:block th:insert="fragments/default :: navbar"></th:block>
    <div class="container my-5">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-xl-8">
                <h3 class="main-color" th:text="${movie.name}"></h3>
                <div class="row">
                    <div class="col-3">
                        <img class="img-thumbnail"
                             th:attr="src=${movie.posterUrl},title=${movie.name},alt=${movie.name}" />
                    </div>
                    <div class="col-9">
                        <p th:text="${movie.description}"></p>
                    </div>
                </div>
                <div class="my-3" th:if="${not #lists.isEmpty(movieSessions)}">
                    <h5 class="main-color">Show Time</h5>
                    <div th:each="movieSession : ${movieSessions}">
                        <span th:text="${#temporals.format(movieSession.startTime, 'HH:mm') + ' - ' +
                            #temporals.format(movieSession.endTime, 'HH:mm')}"></span><br />
                    </div>
                    <button type="button" class="btn white-color main-color-bg btn-lg btn-block my-2">Buy Ticket Now</button>
                </div>
                <div class="my-3" th:if="${#lists.isEmpty(movieSessions)}">
                    <h3 class="main-color text-center">Coming Soon</h3>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="fragments/default :: script"></th:block>
</body>
</html>