.main-color {
    color: #f34573;
}

.white-color {
    color: #fff;
}

.main-color-bg {
    background-color: #f34573;
}

.main-color-zoom:hover {
    color: #f34573;
}

.btn-outline-main-color {
    background-color: #fff;
    color: #f34573;
    border-color: #f34573;
}

.btn-outline-main-color:hover {
    background-color: #f34573;
    color: #fff;
}

.border-main-color {
    border-color: #f34573;
}

.card {
	width: auto;
	height: auto;
	background-color: white;
	color: #222;
	border-radius: 2px;
}

.poster {
    height: 20em;
    width: auto;
    transition: height .5s ease;
}

.poster:hover {
    height: 21em;
    width: auto;
    transition: height .5s ease;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    text-decoration: none;
}

.title-movie {
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover {
      background-color: #f34573;
      color: white;
      transition: all .5s ease;
    }

    #logo {
      height: 25px;
      margin: 4px;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .section {
      padding: 4em;
    }

    .col-sm-3 {
      margin-top: 2em;
    }

    .underscore {
      border-bottom: 7px solid #f34573;
    }

    body {
        background-color: #eee !important;
    }